header.page-header {
  .header-logo {
    img {
      max-width: 300px;
    }
    ul.navbar-menu {
      font-size: 20px;
      display: flex;
      list-style-type: none;

      li {
        margin: 1px 25px;
        a {
          color: black;
        }
      }
    }
  }
  .search-wrapper {
    text-align: center;
    .search {
      cursor: pointer;
      form {
        input {
          width: 30%;
        }
        button {
          margin-left: -28px;
          background: blue;
        }
      }
    }
  }
}
